{% extends 'base.html.twig' %}

{% block title %}JobCleaning{% endblock %}

{% block body %}
	<div id="row" class='container_home_page' >
		<div >
			<img src='../../assets/images/workerCartoon.png' alt='image home page' width='100%' height='100%' />
			<h1 class='text-center' >Welcome to JobCleaning !</h1 >
		</div >
		<div class='group-button text-center mt-2 afficher' >
			<a href="{{ path('liste-taches') }}" class='btn btn-primary mt-2' >Voir les tâches restantes du jour
			</a >
		</div >
	</div >
	{#<div id="root"></div>#}
{% endblock %}
