{% extends 'base.html.twig' %}

{% block title %}JobTasking{% endblock %}

{% block body %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{{ dump('user connected') }}
	{% endif %}
	
	<div id="root" isUserConneced="{{ is_granted('IS_AUTHENTICATED_FULLY') }}"></div>
{% endblock %}
