{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
	{% for Piece in listePieces %}
		<h3 >{{ Piece.intitule }}</h3 >
		{% for Tache in Piece.getTache() %}
			<a href="{{ path('tache', {'id':Tache.id}) }}">{{ Tache.intitule }}</a>
		{% endfor %}
	{% endfor %}
	<form action="" >
		<div class="row">
		<div class="col-md-6">
			<select name="" id="" >
				<option value="" >Pièce</option >
			</select >
		</div>
		<div class="col-md-6">
			<select name="" id="" >
				<option value="" >Etat</option >
			</select >
		</div>
		</div>
	</form >
{% endblock %}