<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.1.95/css/materialdesignicons.min.css" >
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i&display=swap" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header" id="header_home_page"></header>

        <main role="main" class="container mt-5">
            {% block body %}{% endblock %}
        </main>

        <footer class="mt-7 px-2 py-2 text-center text-muted" id="footer_home_page"></footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('import') }}
        {% endblock %}
    </body>
</html>
